services:
  - type: web
    name: sistemarestaurante-api
    runtime: docker
    repo: .
    plan: starter
    region: oregon
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SPRING_DATASOURCE_URL
        fromService:
          name: sistemarestaurante-db
          type: database
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        fromService:
          name: sistemarestaurante-db
          type: database
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromService:
          name: sistemarestaurante-db
          type: database
          property: password
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: update
      - key: SERVER_PORT
        value: 8080
      - key: PORT
        value: 8080

databases:
  - name: sistemarestaurante-db
    plan: free
