services:
  - name: restaurante-api
    type: web
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: restaurante-db
          property: connectionString

      - key: SPRING_DATASOURCE_URL
        value: ${DATABASE_URL/\/\//jdbc:postgresql:\/\/}

      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: restaurante-db
          property: user

      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: restaurante-db
          property: password

      - key: SERVER_PORT
        value: 8080

databases:
  - name: restaurante-db
    plan: free
